{% extends 'base.html.twig' %}

{% block title %}Trophy{% endblock %}

{% block body %}
    <h1>Trophy</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trophy.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ trophy.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ trophy.description }}</td>
            </tr>
            <tr>
                <th>Rarity</th>
                <td>{{ trophy.rarity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_trophy_index') }}">back to list</a>

    <a href="{{ path('app_trophy_edit', {'id': trophy.id}) }}">edit</a>

    {{ include('trophy/_delete_form.html.twig') }}
{% endblock %}
