{% extends 'base.html.twig' %}

{% block title %}Stat{% endblock %}

{% block body %}
    <h1>Stat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stat.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ stat.title }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ stat.score }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ stat.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_stat_index') }}">back to list</a>

    <a href="{{ path('app_stat_edit', {'id': stat.id}) }}">edit</a>

    {{ include('stat/_delete_form.html.twig') }}
{% endblock %}
